body.land{
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New', serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-bottom: 2vw solid black;
}

.draw{
    width: 50vw;
    height: 4vw;
    text-align: center;
}

.line{
    position: absolute;
    left: 20vw;
    top: 23vw;
    width: 60vw;
    height: 10px;
    border-bottom : 0.3vw solid black;
}

.arrow{
    position: absolute;
    left: 50%;
}

.space1{
    height: 10vw;
}

.space2{
    height: 6vw;
}

.space3{
    height: 3vw;
}

.space4{
    height: 1vw;
}

.space5{
    height: 0.5vw;
}

.square{
    width: 20px;
    height: 20px;
    background-color: black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    transition: 2s;
    float: left;
}

.cont_list{
    width: 40vw;
    text-align: center;
    margin: auto;
}

.square:hover{
    transform: rotate(90deg)
}

ul{
    list-style-type: none
}

div.lileft{
    position: absolute;
    width: 10vw;
    left: 33vw;
}

div.liright{
    position: absolute;
    width: 10vw;
    left: 57vw;
}

.buttons{
    padding: 0;
    width: 12vw;
    height: 4vw;
    border: none;
    background: none;
    font-size: 2.7vw;
    transition: 0.5s;
}

.buttons:hover{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.about{
    position: absolute;
    left: 45vw;
}

.title{
    text-align: center;
    font-size: 10vw;
}