li.nav {
    display: block;
    border-bottom: 0.2vw solid black;
}

.navline {
    border-bottom : 0.3vw solid black;
}

.nleft {
    float:left;
}

.nright{
    float: right;
    text-align: right;
    width: 120px;
}

.cont{
    margin: auto;
    padding: 10px 5vw;
}

p.logo {
    font-weight: bold;
    font-size: 1.5vw;
    color: white;
}

a.nav {
    font-size: 1.5vw;
    color: white;
}

a:link, a:hover,a:visited { 
    text-decoration: none;
    color:white; 
}

ul.navigation {
    height: 4vw;
    background-color: black;
}

h1.title1 {
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1000px){
    a.nav {
        font-size: 2vw;
    }
    p.logo {
        font-size: 2vw;
    }
    ul.navigation {
        height: 40px;
    }
    p.logo, a.nav{
        font-size: 15px;
    }
}