extends page_layout

block content
    .col-md-8.center.boxcolor
        h1.center Add Organization Form
        br
        form.form(method="POST", action=`/${student._id}/organization/add`)
            div
                label(for='org_name') Enter the full name of your organization
                input.finput#org_name(type='text', placeholder="Organization's name" name='org_name')
            div
                label(for='org_short_name') Enter short name of your organization (without spaces)
                input.finput#org_short_name(type='text', placeholder="Org's short name" name='org_short_name', required)
            div
                label(for='org_desc') Enter a description of your organization (don't forget to put a website to your organization)
                textarea.boxtext(name='org_desc' required)
            div
                button.button(type='submit') Add Org!
        br
        p I really wanted to allow you guys to put some images for your organization, but, my free database barely has any memory and I can't afford anyone uploading a 8K image of their logo (I think it will break everything). Maybe in the future when people actually wants to use this website I may include that feature.
