doctype html
html(lang='en')
    head
        meta(charset='UTF-8')

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

        style
            include ../../public/stylesheet/landingc.css

        title Welcome to PointsUp!
    body.land
        ul.navbar
            li.navlogo
                a.logo(href="/") Points Up!
            li.nav.one
                a.navi(href="/sign_up_form") Sign Up
            li.nav.two
                a.navi(href="/sign_in_form") Sign In
    div.line
    .container
        br
        h1.title Welcome to Points Up!
        img.logoimg(src=("images/pu_logo.png"), width=100, height=100)
        br
        br
        br
        br
        h3 Purpose
        p The purpose of this app is to smooth out the process of taking an organization's member attendance as well as allow members and non-members of an organization to check out what kind of events an organization offers.
        p By signing up, you will be able to see all the organizations registered in the website and you can even add your own organization into the website. Moreover, you can check out other organizations' events and can also schedule events and post them in your organization's page!
        p All events that are shown are either scheduled or are currently going on. During the length of the event, members will be prompt to enter a small password which should be given by the organization so that members can log into the event and earn points!
        p The meaning of the points will depend on each organization. You may opt for a points-reward system, or whatever; you're choice!
        p The app is still in development, so everything may not be as smooth as an google application and there may be some missing non-crucial features, and I (David) am sorry about that. If you find any weird bugs or problems, just contact me via email: wangwang@wisc.edu
        br
        br
        h3 Getting Started!
        p Well, just press either the Sign Up or Sign In button in the top right corner. If you are in your phone and see that weird things are happening to the two buttons, try putting your phone in landscape mode. I hope that helps.
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        

