doctype html
html(lang='en')
    head
        meta(charset='UTF-8')

        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")

        style
            include ../../public/stylesheet/landingc.css
            include ../../public/stylesheet/layout.css
            include ../../public/stylesheet/lists.css
            include ../../public/stylesheet/forms.css
            include ../../public/stylesheet/misc.css

        title Welcome to PointsUp!

    body.land
        ul.navigation
            .space4
            li.nleft
                p.logo Points Up
            li.nright
                a.nav(href="/sign_out") Sign Out
        div.cont
            block content
        br
        br
        br
        footer
            p Created by David Wang! Contact David by sending an email to wangwang@wisc.edu